# Handle line endings automatically for text files
* text=auto eol=lf

# Explicitly declare binary files that must not be modified or normalized by Git
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.apk binary
*.keystore binary
*.bin binary
